* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background: rgb(203, 203, 203);
}
.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px 0;
}
.menu {
    display: flex;
    gap: 28px;
}
.menu-items {
    list-style: none;
    position: relative;
}
.menu-items a {
    font-size: 2rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.menu-items a::before,
.menu-items a::before, 
.menu-items a::before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 10px;
    height: 2px;
    transition: 0.3s ease;
}
.menu-items:hover a::before,
.menu-items:hover a::before, 
.menu-items:hover a::before {
    width: 100%;
    background: black;
}
.menu-items a:hover {
    color: rgb(177, 152, 14);
}
.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Home */
.banner-img {
    width: 100%;
}

/* About us */
.about-us {
    background:rgb(251, 251, 251);
}
.about-us-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}
.about-us p {
    font-size: 1.8rem;
    padding-bottom: 25px;
    line-height: 30px;
}
.p-details {
    font-size: 1.8rem;
    font-weight: bold;
}

/* Why us */
.why-us {
    max-width: 940px;
    margin: 0 auto;
    padding: 60px 0;
}
.why-us-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}
.why-us-list {
    list-style: none;
}
.why-us-list li {
    font-size: 1.8rem;
    line-height: 30px;
}
.why-us-list li:nth-child(1) {
    font-weight: bold;
}
.why-us-list li::before {
    content: '★';
    margin-right: 10px;
}
.why-us-content {
    display: flex;
    justify-content: space-between;
}
.why-us-content div:nth-child(2) {
    width: 50%;
}
.image-d {
    width: 100%;
}

/* Location */
.location-mp {
    padding-top: 60px;
}
.location-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

/* Product Cards */
.product-cards {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    padding: 60px 0;
    gap: 20px;
}
.card {
    width: 300px;
    border: 2px solid rgb(57 57 57);
    border-radius: 8px;
    padding: 20px 20px;
    text-align: center;
    list-style: none;
    transition: 0.3s ease;
    cursor: pointer;
}
.card:hover {
    transform: translate(0, -5px);
    box-shadow: 0 0 40px 2px rgb(16 16 16 / 19%);
    border-color: rgb(177, 152, 14);
}
.card:hover .card-title {
    font-size: 2.5rem;
}
.card-title {
    font-size: 2.7rem;
    margin: 22px 0;
    transition: 0.3s ease;
}
.card-img {
    width: auto;
}
.card-description {
    font-size: 2rem;
    margin: 20px 0;
}
.price {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 18px 0;
}

/* Contact form */
.contact-form {
    max-width: 940px;
    margin: 0 auto;
    padding: 60px 15px;
}
.inputs-styles, 
.label-styles {
    width: 100%;
    font-size: 1.8rem;
}
.inputs-styles {
    padding: 8px 10px;
}
.input-name-lastname, 
.label-name-lastname {
    font-size: 1.8rem;
}
.inputs-name-lastname,
.inputs-email-tel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.name-lastname,
.input-name-container, 
.input-lastname-container,
.input-email-container,
.input-tel-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.name-lastname {
    display: none;
}
.message-container {
    border: none;
}
.message-label {
    font-size: 1.8rem;
}
.message-a {
    width: 100%;
    height: 160px;
    font-size: 1.8rem;
    margin-top: 15px;
    padding: 10px;
    resize: none;
}

/* Footer */
footer {
    color: white;
    background: url('./imagenes/bg.jpg');
    text-align: center;
    padding: 30px 0;
}
.author {
    font-size: 1.8rem;
}

@media (max-width: 980px) {
    .navbar-menu {
        padding: 20px 20px;
    }
    .wrapper {
        padding: 60px 20px;
    }
    .why-us {
        padding: 60px 20px;
    }

    /* Product Card */
    .product-cards {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        padding: 60px 20px;
    }
    .card {
        width: 280px;
    }

}
@media (max-width: 640px) {
    .navbar-menu {
        padding: 20px 0;
        flex-direction: column;
    }
    .why-us-content {
        flex-direction: column;
        gap: 30px;
    }
    .why-us-content div:nth-child(2) {
        width: 100%;
    }
    
    /* Product Cards */
    .card {
        width: 380px;
    }

    /* Contact Form */
    .name-lastname {
        display: block;
    }
    .input-name-container, 
    .input-lastname-container {
        display: none;
    }

}
@media (max-width: 400px) {
    .menu {
        gap: 10px;
    }
    .menu-items a {
        font-size: 1.8rem;
    }
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-us-title {
        font-size: 2.2rem;
    }
    .about-us p,
    .p-details {
        font-size: 1.7rem;
    }
    .why-us {
        padding-left: 10px;
        padding-right: 10px;
    }
    .why-us-title {
        font-size: 2.2rem;
    }
    .why-us-list li {
        font-size: 1.7rem;
    }
    .location-title {
        font-size: 2.2rem;
    }
    
    /* Product Cards */
    .product-cards {
        padding-left: 15px;
        padding-right: 15px;
    }
    .card {
        width: 100%;
    }
    .card-title {
        font-size: 2.4rem;
    }
    .card-img {
        width: 100%;
    }
    .card-description, 
    .price {
        font-size: 1.7rem;
    }

}